body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  text-align: center;
}

form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 5px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  width: 100%;
  background: steelblue;
  color: white;
  border: none;
  cursor: pointer;
}

span {
  color: red;
  font-size: 12px;
}
