* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
}

.navbar h2 span {
  color: #38bdf8;
}

.navbar nav a {
  color: #fff;
  margin-left: 25px;
  text-decoration: none;
}

.active {
  color: #38bdf8;
}

.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #020617, #0f172a);
}

.hero-text {
  text-align: center;
  max-width: 600px;
}

.hero-text span {
  color: #38bdf8;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 25px;
  background: #38bdf8;
  color: #000;
  border-radius: 25px;
  text-decoration: none;
}

.page {
  padding: 80px 40px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: #38bdf8;
  color: #000;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

form {
  max-width: 400px;
  margin: auto;
}

input, textarea, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
}

button {
  background: #38bdf8;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
