body{
    min-height: 100vh;   
    margin: 0;

    background: linear-gradient(
        135deg,
        #0f2027 0%,
        #203a43 45%,
        #2c7744 100%
    );

    justify-content: center;
    display: flex;
    align-items: center;
}
form{
    text-align: center;
    background-color:#ffff;
    height:auto;
    padding:20px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 15px;
}

#Username{
    margin-bottom: 20px;
    border: 2px solid  rgba(0, 55, 51, 0.762 );
     border-radius: 8px;
  
}
#Password{
    margin-bottom: 20px;
      border: 2px solid  rgba(0, 55, 51, 0.762)  ;
     border-radius: 8px;
}
label{
    font-size: 12px;
    display: flex;  
    text-align: right;
}

#btn{
    width: 50%;
    border-radius: 2px;
    background-color: rgba(0, 55, 51, 0.762);
}