.box {
    width: 300px;
    background-color: lightgray;

    /* Padding */
    padding: 20px;

    /* Border */
    border: 3px solid black;

    /* Margin */
    margin: 40px;

    font-family: Arial, sans-serif;
}
h2{
    color: blueviolet;
}